@model IEnumerable<test4.Data.Destination>

@{
    ViewData["Title"] = "Destinations";
}

<h1>Destinations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DestinationName)</th>
            <th>@Html.DisplayNameFor(model => model.City)</th>
            <th>@Html.DisplayNameFor(model => model.Tour)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DestinationName)</td>
            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td>@Html.DisplayFor(modelItem => item.Tour.TourName)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DestinationId" class="btn btn-sm btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DestinationId" class="btn btn-sm btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DestinationId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
